---
const { type, title, subtitle, url, startDate, endDate, location } = Astro.props as Props;
export type Props = {
    type: string;
    title: string;
    subtitle: string;
    url?: string;
    startDate: string;
    endDate?: string;
    location?: string;
};
---

<header>
    <h3>
        <ul class="flex flex-row gap-2 text-white font-semibold text-2xl">
            <li class="bg-blue-950 p-2">{type}</li>
            <li class="bg-blue-950 p-2">
                <span class="text-yellow-300">{title}</span>
                {
                    url ? (
                        <a href={url} class="hover:text-yellow-300 duration-300">
                            {subtitle}
                        </a>
                    ) : (
                        subtitle
                    )
                }
            </li>
        </ul>
        <p class="text-lg"><i>{startDate} {endDate && 'to ' + endDate}</i> {location && '@ ' + location}</p>
    </h3>
</header>
